@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

:root {
    font-family: 'Gentium Book Basic', serif;
    --main-color: rgb(112, 110, 110);

}

body {
    max-width: 950px;
    margin: auto;
}

header {
    margin-bottom: 70px;
}

main, footer {
    font-family: 'Gentium Book Basic', serif;
    color: var(--main-color);
    font-size: 1.6rem;
}

main article {
    margin-bottom: 70px;
}

h2 {
    color: rgb(222, 60, 51)
}
header nav .logo {
    font-family: 'Squada One', cursive;
    font-size: 3rem;
    text-align: center;
    color: rgb(222, 60, 51);
}

header nav .menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;

}

header nav .menu a {
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--main-color);

}

header nav .menu a:hover {
    color: rgb(222, 60, 51);
}

@media (min-width: 550px) {
    header nav {
        display: flex;
        align-items: center;
    }
}

header .menu {
    flex: 1;
}

header .banner {
    background-image: url(../images/easyfood1.jpg);
    min-height: 600px;
    background-position: center;
    background-size: cover;
}

main article .video-pos {
    display: flex;
    justify-content: center;

}

main article .img-pos {
    display: flex;
    justify-content: center;

}

main article p {
    margin-bottom: 50px;

}

footer form .styling {
    display: flex;
    flex-direction: column;
    margin-right: 700px;

}

footer form #chosen:hover {
    color: red;
    }

footer .social-links {
    text-decoration: none;
    display: flex;
    justify-content: space-around;

}

footer a img {
    width: 30px;
    height: 30px;
}

footer .img-pos {
    display: flex;
}







